@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  
}

/*.navbar {
  background: white;
  padding: 3rem 2rem;
  height: 0rem;
  min-height: 12vh;
}
.navbar .navbar-brand a{
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #3B63D3;
}
.navbar-toggler{
  background: #e74c3c;
  border: none;
  padding: 10px 6px;
  outline: none;
}
.navbar-toggler span{
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background: #fff;
}
.navbar-toggler span + span{
  margin-top: 4px;
  width: 18px;
  margin-left: 4px;
}
.navbar-toggler span + span + span{
  width: 10px;
  margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 2rem;
  font-size: 1.4rem;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  border-top: 4px solid #e74c3c;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
  border-top: 4px solid #e74c3c;
  color: #e74c3c;
}

.navbar-nav button{
  padding: 1.2rem 0;
}
.navbar-nav .btn{
  background-color: #e74c3c;
  color: white;
  border-radius: 0;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  margin-top: -10px;
}
.navbar-nav .btn:hover{
  background-color: #0a3d62;
}
*/
nav{
    background-color: #0072ff;
    height: 80px;
    width: 100%;
    text-align: center;
  
  }
  nav ul li a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-top: 12px;
    padding: 8px 50px;
  }
  .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
  }
  .navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: black;
  }
  @media only screen and (max-width: 700px){
   
    nav ul li a{
        font-size: 30px;
        padding: 10px 10px;
    }
    .photo1 img{
        width: 100%;
        height: 200px;
        
    }
  }
  @media only screen and (max-width: 450px){
   
    nav ul li a{
        font-size: 22px;
        padding: 15px 10px;
    }
    .photo1 img{
        width: 100%;
        height: 200px;
        
    }
  }
section{
    min-height: 100vh;
    background: url('../images/signinbackground.avif');
    background-size: cover;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    width: 350px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 20px;
    }

    .login h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .login form{
        margin-top: 1rem;
    }
    
    .login .form-item{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .login .form-item:nth-child(3){
        align-items: center;
        flex-direction: row;
    }

    .login .form-item:nth-child(3) label{
        margin-left: 5px;
    }

    .login .form-item input{
        height: 40px;
        padding: 5px 10px;
        background: transparent;
        outline: none;
        border: 1px solid gray;
    }

    .login form button{
        background-color: #78706B;
        color: white;
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .login form button:hover{
        background-color: black;
    }

    .copyright {
        border-radius: 20px;
        background-color: blue;
        font-family: 'Tapestry', cursive;
      font-family: 'Water Brush', cursive;
        color: white;
        
      }



      .alert_{
        position: relative;
        width: 300px;
        min-height: 100px;
        margin-top: 50px;
        border: 1px solid black;
        background-color: black;
    }



    .footer-basic ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:18px;
      line-height:1.6;
      margin-bottom:0;
    }
    
    .footer-basic li {
      padding:0 10px;
    }
    
    .footer-basic ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    .footer-basic ul a:hover {
      opacity:1;
    }
    
    .footer-basic .social {
      text-align:center;
      padding-bottom:25px;
    }
    
    .footer-basic .social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #aaa;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    
    .footer-basic .social > a:hover {
      opacity:0.9;
    }
    
    .footer-basic .copyright {
      margin-top:15px;
      text-align:center;
      font-size:13px;
      margin-bottom:0;
    }
    
  